{% extends 'base.html' %}
{% load widget_tweaks %}
{% block body %}

<h1 style="text-align: center;"><strong>Update Ticket</strong></h1>
<div style="width: 50%;margin-top: 5%;text-align: center;margin-left: 25%;">
  
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="title">Title:</label>
      {% render_field form.title class="form-control" %}
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      {% render_field form.description class="form-control" %}
    </div>
    {% comment %} <div class="form-group">
      <label for="password">Password:</label>
      {% render_field form.password1 class="form-control" %}
    </div>
    <div class="form-group">
      <label for="confirm">Confirm Password:</label>
      {% render_field form.password2 class="form-control" %}
    </div> {% endcomment %}
    <button type="submit" class="btn btn-success">Create</button>
  </form>
</div>

{% endblock body %}